<ion-view view-title="Dashboard">
  <ion-content class="padding">
      
      
      <p></p>
    <h2>Testing jsfiddle - jquery ui + angularjs tooltip demo</h2>
      <p>An approach to use jQuery Plugins with AngularJS: 
 <a href="https://amitgharat.wordpress.com/2013/02/03/an-approach-to-use-jquery-plugins-with-angularjs/" target="_blank">demo tut</a>.
    </p>
 <div ng-app="Toolbar">
    <div class="btn-toolbar" toolbar-tip="{content: '#toolbar-options', position: 'top'}" id="format-toolbar1">
        <i class="fa fa-cog"></i>
    </div>
    <div class="btn-toolbar" toolbar-tip="{content: '#toolbar-options', position: 'right', style: 'primary'}" id="format-toolbar2">
        <i class="fa fa-cog"></i>
    </div>
    <div class="btn-toolbar" toolbar-tip="{content: '#toolbar-options', position: 'bottom', style: 'primary', animation: 'flip'}" id="format-toolbar3">
        <i class="fa fa-cog"></i>
    </div>

    <div id="toolbar-options">
       <a href="#"><i class="fa fa-plane"></i></a>
       <a href="#"><i class="fa fa-car"></i></a>
       <a href="#"><i class="fa fa-bicycle"></i></a>
    </div>
</div>
      <p> end of stuff pasted from fiddle</p>
  </ion-content>
</ion-view>
